## gradle
/.gradle
/build
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

##misc
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/forge-1.7.10-10.13.2.1230-changelog.txt
/CREDITS-fml.txt
/README.txt
/LICENSE-fml.txt
/lib
/promo
out/
Tiny Storage.iml
Tiny Storage.ipr
Tiny Storage.iws
ConsoleLog.txt
Models/
mods/
